body {
    text-align: center;
    font: 1em sans-serif;
    font-size: large;
    font-weight: bold;
}

#movies img, #movie img{
    width: 200px;
}

@media(min-width:960px){
    #movies .col-md-3 .well{
        height: 390px;
    }   

    #movies .col-md-3 img{
        height: 240px;
    }
}